@tailwind base;
@tailwind components;
@tailwind utilities;

@import "reboot";
@import "flex-grid";
@import "filepond";


.ckeditor-widget {

}

.ckeditor-widget {
    // Toolbar
    .ck-rounded-corners .ck.ck-editor__top .ck-toolbar {
        @apply rounded border-gray-200 #{!important};
        border-bottom-right-radius: 0 #{!important};
        border-bottom-left-radius: 0 #{!important};
    }

    &.invalid {
        // Invalid toolbar
        .ck-rounded-corners .ck.ck-editor__top .ck-toolbar {
            @apply border-red-500 focus:border-red-500 focus:ring-red-500  #{!important};
            @apply border-b-gray-200  #{!important};
            border-bottom-right-radius: 0 #{!important};
            border-bottom-left-radius: 0 #{!important};
        }
    }

    // Content
    .ck-rounded-corners .ck.ck-editor__main > .ck-content {
        @apply rounded border-gray-200 text-sm;
        border-top-right-radius: 0;
        border-top-left-radius: 0;
    }

    &.invalid {
        // Invalid content
        .ck-rounded-corners .ck.ck-editor__main > .ck-content {
            @apply border-red-500 focus:border-red-500 focus:ring-red-500;
            @apply border-t-gray-200;
            border-top-right-radius: 0;
            border-top-left-radius: 0;
        }
    }
}


.ck-editor {
    display: flex;
    flex-flow: column;
    min-height: 150px;
}

.ck-editor__main {
    flex: 1;
}

.ck-editor__editable_inline {
    min-height: 100%;
}


.choices {
    @apply relative rounded-lg;
}

.choices__inner >select {
    display: none;
}

.choices__list--single {
    @apply relative py-2 px-4 pe-9 flex w-full cursor-pointer bg-white border border-gray-200 rounded-lg text-start text-sm focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1] dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600;

    .choices__item ~ .choices__placeholder {
        display: none;
    }
}

.choices__list--dropdown {
    @apply absolute mt-2 z-50 w-full max-h-[300px] p-1 space-y-0.5 bg-white border border-gray-200 rounded-lg overflow-hidden overflow-y-auto dark:bg-slate-900 dark:border-gray-700;
}

.choices__list--dropdown:not(.is-active) {
    @apply hidden;
}

.choices__list--dropdown.is-active {
    @apply top-full;

    .choices__list {
        display: block;
    }
}

.choices__input {
    @apply bg-white sticky top-0 block w-full text-sm border-gray-200 rounded-lg focus:border-blue-500 focus:ring-blue-500 before:absolute before:inset-0 before:z-[1] dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600 py-2 px-3;
}

.choices__item--choice {
    @apply cursor-pointer py-2 px-4 w-full text-sm text-gray-800 hover:bg-gray-100 rounded-lg focus:outline-none focus:bg-gray-100 dark:bg-slate-900 dark:hover:bg-slate-800 dark:text-gray-200 dark:focus:bg-slate-800;
}