/* Chrome, Safari, Edge, Opera */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none !important;
  appearance: none !important;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}